/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */


//GENERICS
@import 'icons';
$color-default: gray;
$color-default-invert: lighten($color-default, 30%);
$color-info: #009999;
$color-warn: #FFAA00;
$color-danger: #FF0000;
$color-new: #00B25C;

@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}
@mixin box-shadow($shadow-vert, $shadow-horiz, $shadow-blur, $shadow-spread, $color) {
	-webkit-box-shadow: $shadow-vert $shadow-horiz $shadow-blur $shadow-spread $color;
	-moz-box-shadow: $shadow-vert $shadow-horiz $shadow-blur $shadow-spread $color;
	box-shadow: $shadow-vert $shadow-horiz $shadow-blur $shadow-spread $color;
}
@mixin background-gradient-0-50-100-vertical($top-color, $middle-color, $bottom-color){
	background: -moz-linear-gradient(top, $top-color 0%, $middle-color 50%, $bottom-color 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top-color), color-stop(50%,$middle-color), color-stop(100%,$bottom-color)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $top-color 0%,$middle-color 50%,$bottom-color 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $top-color 0%,$middle-color 50%,$bottom-color 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $top-color 0%,$middle-color 50%,$bottom-color 100%); /* IE10+ */
	background: linear-gradient(to bottom, $top-color 0%,$middle-color 50%,$bottom-color 100%); /* W3C */
}
@mixin filter($func){
  -webkit-filter: $func;
  -moz-filter: $func;
  -o-filter: $func;
  -ms-filter: $func;
  filter: $func;
}

@import "entities";
@import "relationships";

html,
body{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	margin:0;
	padding:0;
}
.dragscrollable-area{
	position: absolute;
	z-index: 125;
}

dl{
	margin: 0;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.superscript{
	font-size: 10px;
	width: 0px;
	height: 0px;
	line-height: 4px;
	float: right;
	display: inline-block;
}
.clearfix{
	content: "";
	display: table;
	clear: both;
}


//////
//Menu
$menu-icon-size: 3.5em;
.menu{
	position: fixed;
	z-index:1000;
	top:0px;
	bottom: 0px;
	background-color: darken(rgba($color-default, 0.95), 20%);
}
.menu + .menu{
	border-left: 1px solid darken(rgba($color-default, 0.90), 20%);
	background-color: darken(rgba($color-default, 0.95), 22%);
}
#main-menu{
	overflow-x: hidden;
	left: 0px;
	width: 120px;

	.button-section{
		margin: 5px;
		.btn{
			font-size: $menu-icon-size;
			line-height: $menu-icon-size;
			padding: $menu-icon-size/16;
			margin: $menu-icon-size/16;
			display: block;
		}
		.sep{
			display: block;
			width:100%;
			border-top: 1px solid darken(rgba($color-default, 0.90), 20%);
			border-bottom: 1px solid darken(rgba($color-default, 0.90), 15%);
		}
		.btn.toggle{
			&:after{
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				margin-top: -8px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 8px 0 8px 8px;
				border-color: transparent transparent transparent #DDD;
				right: -16px;
				@include transition(opacity, 0.1s, ease-in-out);
				opacity: 0;
			}
		}
		.btn.toggle.active{
			position: relative;
			&:after{
				opacity: 1;
			}
		}
	}
}
#settings-menu
{
	left: 120px;
	@include transition(width, 0.10s, ease-in-out);
	width: 240px;
	&.hide{
		width: 0px;
	}
}

//////////////
//Notification
#notification{
	position: absolute;
	z-index: -100;
	top: 0;
	right: 0;
	left: $menu-icon-size * 33 / 16;
	margin: 15px;
	padding: 15px;
	color: darken($color-warn, 20%);
	background-color: lighten($color-warn, 45%);
	border: 1px solid lighten($color-warn, 40%);
	border-radius: 2px;
	text-align: center;
}

////////
//Inputs
input[type=text], input[type=email], textarea {
	background: #fff;
	border: 2px solid lighten($color-default, 40%);
	font-size: 1.2em;
	padding: .5em 1em .5em;
	margin: 0;
	margin-bottom: 2px;
	outline: none;
	width: 100%;
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-appearance: none;
	@include transition(border, 0.3s, ease-in-out);

	&:focus{
		border: 2px solid lighten($color-info, 60%);
	}
	&.warn{
		border: 2px solid lighten($color-warn, 40%);
		&:focus{
			border: 2px solid lighten($color-warn, 30%);
		}
	}
	&.danger{
		border: 2px solid lighten($color-danger, 40%);
		&:focus{
			border: 2px solid lighten($color-danger, 30%);
		}
	}
}
textarea{
	font-size: 1em;
	resize: none;
	height:100%;
}

//////
//Btns
button{
	margin:0;
}
.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 14px;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	border-color: lighten($color-default, 24%);
	background-color: lighten($color-default, 20%);
	color: white;
	@include transition(background-color, 0.1s, ease-in-out);

	&:hover,
	&.hover{
		background-color: lighten($color-default, 30%);
	}
	&:active,
	&.active{
		@include transition(background-color, 0.05s, linear);
		-webkit-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.15);
		-moz-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.15);
		box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.15);
		background-color: lighten($color-default, 15%);
		> * {margin-top:1px;margin-bottom:-1px;}
	}
	&.new{
		border-color: lighten($color-new, 0%);
		background-color: lighten($color-new, 5%);
		&:hover,
		&.hover{
			background-color: lighten($color-new, 10%);
		}
		&:active,
		&.active{
			background-color: lighten($color-new, 3%);
		}
	}
	&.info{
		border-color: lighten($color-info, 0%);
		background-color: lighten($color-info, 5%);
		&:hover,
		&.hover{
			background-color: lighten($color-info, 10%);
		}
		&:active,
		&.active{
			background-color: lighten($color-info, 3%);
		}
	}
	&.warn{
		border-color: lighten($color-warn, 0%);
		background-color: lighten($color-warn, 10%);
		&:hover,
		&.hover{
			background-color: lighten($color-warn, 20%);
		}
		&:active,
		&.active{
			background-color: lighten($color-warn, 0%);
			-webkit-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.30);
			-moz-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.30);
			box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.30);
		}
	}
	&.danger{
		border-color: lighten($color-danger, 0%);
		background-color: lighten($color-danger, 10%);
		&:hover,
		&.hover{
			background-color: lighten($color-danger, 15%);
		}
		&:active,
		&.active{
			background-color: darken($color-danger, 5%);
		}
	}
}

// multiclick danger
.click-1 > .btn.danger{
	border-color: lighten($color-default, 0%);
	background-color: lighten($color-default, 10%);
	&:hover,
		&.hover{
		background-color: lighten($color-default, 15%);
	}
	&:active,
		&.active{
		background-color: darken($color-default, 5%);
	}
}